Running a cell:
1. **Click "Run"**
2. **Shift + Enter** (*Runs the current cell and adds a new cell if there is no cell below the current cell*)
3. **Ctrl + Enter** (*Runs the current cell, but does not add any cells below*)
4. **Alt + Enter** (*Runs the current cell and adds a new cell irrespective of any scenario*)

In [2]:
# This is a comment. It is always preceded by a "#" symbol

In [3]:
# In this cell, I am printing the word "Something"
print("Something")

Something

# Data Types in python
1. Integer
2. Float (Fractions)
3. String
4. Boolean
5. Datetime

In [4]:
print("This is an integer number")
1

This is an integer number

1

In [5]:
print("This is a floating number")
1.3

This is a floating number

1.3

In [6]:
print("This is also a floating number")
1.0

This is also a floating number

1.0

In [7]:
type(1.0)

float

In [8]:
print("This is a string")
"abc"

This is a string

'abc'

In [9]:
"123"

'123'

In [10]:
type("123")

str

In [11]:
print("These are the two boolean values")
print(True)
print(False)

These are the two boolean values
True
False

## Mathematical Operations on different Datatypes

### Operators in python
1. Addition --> **+**
2. Subtraction --> **-**
1. Multiplication --> *
2. Division --> **/**
1. Power --> **

#### Integer Operations

In [12]:
# Two integers:
print("Addition --> ", 1 + 2)
print("Subtraction --> ", 1 - 2)
print("Multiplication --> ", 1 * 2)
print("Division --> ", 1 / 2)
print("Power --> ", 1 ** 2)
print("Rounding --> ", round(1 ** 2, 2))

Addition -->  3
Subtraction -->  -1
Multiplication -->  2
Division -->  0.5
Power -->  1
Rounding -->  1

#### Floating Operations

In [13]:
# Two floating numbers:
print("Addition --> ", 1.3 + 2.5)
print("Subtraction --> ", 1.3 - 2.3)
print("Multiplication --> ", 1.3 * 2.5)
print("Division --> ", 1.3 / 2.5)
print("Power --> ", 1.3 ** 2.5)
print("Rounding --> ", round(1.3 ** 2.5, 3))

Addition -->  3.8
Subtraction -->  -0.9999999999999998
Multiplication -->  3.25
Division -->  0.52
Power -->  1.9268964684175434
Rounding -->  1.927

#### Integer-Floating Operations

In [14]:
# One integer and one floating point number:
print("Addition --> ", 2 + 3.6)
print("Subtraction --> ", 2 - 3.6)
print("Multiplication --> ", 2 * 3.6)
print("Division --> ", 2 / 3.6)
print("Power --> ", 2 ** 3.6)
print("Rounding --> ", round(2 ** 3.6, 2))

Addition -->  5.6
Subtraction -->  -1.6
Multiplication -->  7.2
Division -->  0.5555555555555556
Power -->  12.125732532083186
Rounding -->  12.13

#### String Operations

In [15]:
"123" + "123"

'123123'

In [16]:
# Two strings:
"ABC" + "def" + "xyZ123"

'ABCdefxyZ123'

In [17]:
# Two strings:
"ABC" / "def"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# One number and one string:
"1" + "abc"

In [18]:
type(str(1))

str

In [19]:
"1abc"

'1abc'

#### Boolean Operators:
1. AND --> **&**
1. OR --> **|**
1. XOR --> **^**

In [20]:
# Boolean Operation (AND --> Both values should be "True"):
print(False & False)
print(True & False)
print(False & True)
print(True & True)

False
False
False
True

In [21]:
# Boolean Operation (OR --> At least one value should be "True"):
print(False | False)
print(True | False)
print(False | True)
print(True | True)

False
True
True
True

# Variables in python


---


Q. What are variables?

A. Variables are names assigned to values/objects that need to be stored in memory



---

Q. Why do we need variables?

A. The purpose of variables:
1. reusability of the same value at multiple places.
2. ease of modification and reapplication of changes.

In [22]:
my_float_no = 3.7

In [23]:
print(my_float_no)

3.7

In [24]:
my_float_no + 10

13.7

In [25]:
my_float_no - 2.3

1.4000000000000004

In [26]:
my_str = "abc123"

In [27]:
print(my_str)

abc123

In [28]:
my_str + "xyz"

'abc123xyz'

# Basic Data Structures in python
1. List
2. Dictionary

## Lists
A list is always surrounded by [ ]. Each element of the list can be of any data type.

In [29]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [30]:
[1, 2, "a", "B", 123]

[1, 2, 'a', 'B', 123]

In [31]:
my_list = [1, 2, "a", "B", 123, True]

In [32]:
# Every element has it's own fixed position no.
# The 1st element --> Position (0)
# The 2nd element --> Position (1)

In [33]:
my_list[0]

1

In [34]:
my_list[2]

'a'

In [35]:
my_list[0] + my_list[1]

3

In [36]:
my_list[0] + my_list[3]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
str(my_list[0]) + my_list[3]

'1B'

In [38]:
# Start position is included and stop position is excluded
# Position in a list is known as the index
my_list[0:3]

[1, 2, 'a']

In [39]:
my_list[1:4]

[2, 'a', 'B']

In [40]:
my_list[2:]

['a', 'B', 123, True]

In [41]:
my_list[:3]

[1, 2, 'a']

In [42]:
my_list[-1]

True

In [43]:
len(my_list)

6

## **Dictionary --> Modified list**

Key: value pair

Always surrounded by { }

In [44]:
{1: 123, "a": "abc", 1.2: "ABC", "A": 526.28}

{1: 123, 'a': 'abc', 1.2: 'ABC', 'A': 526.28}

In [45]:
my_dict = {1: 123, "a": "abc", 1.2: "ABC", "A": 526.28}

In [46]:
my_dict[1]

123

In [47]:
my_dict["A"]

526.28

In [48]:
len(my_dict)

4

In [49]:
my_team_dict = {"Season 18-19": "team 1", "Season 19-20": "team 2", "Season 20-21": "team 3", "Season 17-18": "team 2", "Season 16-17": "team 1"}

In [50]:
my_team_dict["Season 18-19"]

'team 1'

In [51]:
my_team_dict.keys()

dict_keys(['Season 18-19', 'Season 19-20', 'Season 20-21', 'Season 17-18', 'Season 16-17'])

In [52]:
my_team_dict.values()

dict_values(['team 1', 'team 2', 'team 3', 'team 2', 'team 1'])

In [53]:
my_str

'abc123'

In [54]:
my_str[1]

'b'

In [55]:
my_str[-1]

'3'

In [56]:
my_str[3:]

'123'

# Comparison and if, if-else statements in python

## Comparison in python

- Equals --> **==**
- Not equals --> **!=**
- Greater than --> **>**
- Less than --> **<**
- Greater than or equal --> **>=**
- Less than or equal --> **<=**

In [57]:
# Values for comparison:
season1Goals = 190
season2Goals = 187
season3Goals = 213
season4Goals = 190

In [58]:
# Equality comparison
print(season1Goals == season2Goals)
print(season1Goals == season4Goals)

False
True

In [59]:
# Equality comparison
print(season1Goals != season2Goals)
print(season1Goals != season4Goals)

True
False

In [60]:
# Greater than comparison
print(season2Goals > season3Goals)
print(season1Goals >= season4Goals)

False
True

In [61]:
# Less than comparison
print(season2Goals <= season3Goals)
print(season1Goals < season4Goals)

True
False

## if and if else

In [62]:
# If Statement:
if season3Goals < season2Goals:
    print("Season 3 had more goals than Season 2")
1 + 2

3

In [63]:
# If Statement:
if season1Goals > season3Goals:
    print("Season 1 had more goals than Season 3")

In [64]:
# If Statement:
if season1Goals >= season3Goals:
    print("Season 1 had more goals than Season 3")
else:
    print("Season 3 had more goals than Season 1")

Season 3 had more goals than Season 1

# Loops in python

## Definition of a loop
A loop, in any programming/scripting langauge, is the task of performing a set of tasks repeatedly, either "n" times or until a certain condition is met. There are, majorly, 2 types of loops in python:
1. "for"
2. "while"

### "for" loop
This loop essentially performs/executes a given set of commands "n" number of times. The "n" here will be provided by us.

In [65]:
# Let's say that I want to write the numbers 1 to 10. How would I go about it using only the print statement

In [66]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [67]:
# Now, let's say that I want to write up to a 1000 numbers!
# It is fairly difficult and frankly ineffective to write 1000 print statements. Let's see how the "for" loop can help us out.

In [68]:
# First let's start with 10 numbers:

for i in range(10):  # range(10) is equivalent to [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    print(i + 1)
print("We are outside the loop")
# Voila! Only 2 lines of code required to write the numbers 1 to 10! Now,

1
2
3
4
5
6
7
8
9
10
We are outside the loop

In [69]:
# let's look at that 1000 times thing
for i in range(1000):
    print(i + 1)
print("We are outside the loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
We are outside the loop

In [70]:
# Woah! Just one change and the same two lines of code saved us from the labour of writing 1000 print statements! That's the beauty of the "for" loop

In [71]:
# Now, let's put this in a football analytics perspective
# Let's take for example Mumbai City FC's results in the league stage of ISL 2020-21 and put it in a list

In [72]:
mcfc_results = ["L", "W", "W", "W", "W", "D", "W", "W", "W", "W", "D", "W", "D", "L", "W", "D", "L", "L", "W", "W"]

In [73]:
# Use a for loop to count the number of wins:
n_wins = 0
for m_result in mcfc_results:
    print("Result:", m_result)
    if m_result == "W":
        n_wins += 1

print("\nTotal Wins for MCFC:", n_wins)
print("\nTotal Matches for MCFC:", len(mcfc_results))
print("\nWin %age MCFC:", n_wins/len(mcfc_results)*100)

Result: L
Result: W
Result: W
Result: W
Result: W
Result: D
Result: W
Result: W
Result: W
Result: W
Result: D
Result: W
Result: D
Result: L
Result: W
Result: D
Result: L
Result: L
Result: W
Result: W

Total Wins for MCFC: 12

Total Matches for MCFC: 20

Win %age MCFC: 60.0

### "while" loop
This loop essentially performs/executes a given set of commands until a certain condition is met. The condition here will be provided by us.

In [74]:
# Let's take a look at a very simple example: Print the results for the first 6 matches of MCFC
i = 0  # Initializing
while i < 6:
    print("Result:", mcfc_results[i])
    i += 1

Result: L
Result: W
Result: W
Result: W
Result: W
Result: D

In [75]:
# Let's take a look at which match gave the first "Draw" result for MCFC:
i = 0
m_result = ""
while m_result != "D":
    m_result = mcfc_results[i]
    i += 1
print("First match drawn MCFC was match no.", i)

First match drawn MCFC was match no. 6